include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include inventeam_manufacturing_app *.css
recursive-include inventeam_manufacturing_app *.csv
recursive-include inventeam_manufacturing_app *.html
recursive-include inventeam_manufacturing_app *.ico
recursive-include inventeam_manufacturing_app *.js
recursive-include inventeam_manufacturing_app *.json
recursive-include inventeam_manufacturing_app *.md
recursive-include inventeam_manufacturing_app *.png
recursive-include inventeam_manufacturing_app *.py
recursive-include inventeam_manufacturing_app *.svg
recursive-include inventeam_manufacturing_app *.txt
recursive-exclude inventeam_manufacturing_app *.pyc